*{
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(3, 3, 3);
  color:rgb(214, 166, 6);
}

.logo{
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.logo-img{
  height: 150px;
  width: 200px;
}

.heading{
  font-style: italic;
  margin-bottom: 15px;
}

.recipes{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.recipes img{
    width:  250px;
    height: 250px;
    background-size: cover;
}

.recipes img:hover{
  transform: scale(1.2);
}


